/*-----resets----*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }


/*----grid------*/
.container{
    max-width: 140rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

@media screen and(max-width:500px){
    .container{
        width: 100%;
    }
}
/*---header---*/
.header{
    background-color: #2b2b2b;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 20 ;
}

.header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .branding img{
    width: 3.5rem;
}

.header .branding h2{
    color: #ffffff;
    margin-left: 1rem;
    font-size: 3rem;
}

.header .branding{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}


.header .branding h2 span{
    color: #ffa700;
}

.header .header__nav ul{
    display: flex;
}

.header .header__nav ul li{
    margin-left: 2rem;
    padding: 2rem 0;
}

.header .header__nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.header .header__nav ul li:hover a{
    color: #ffa700;
}
.toggle__menu{
    display: none;
}

.toggle__menu span{
    width: 3.5rem;
    height: .3rem;
    background-color: #ffa700;
    display: block;
    margin-bottom: .5rem;
    border-radius: 5rem;
    transition: .5s ease;
}

.toggle__menu.open span:first-child{
    transform: translate(0, 10px) rotate(225deg);
    transition: .5s ease;
}

.toggle__menu.open span:nth-child(2){
    opacity: 0;
    transition: .5s ease;
}

.toggle__menu.open span:last-child{
    transform: translate(0, -6px) rotate(-225deg);
    transition: .5s ease;
}
@media screen and (max-width:500px){
   .toggle__menu{
        display: block;
   }

   .header .header__nav{
        position: absolute;
        background: #ffffff;
        top: 8rem;
        right: -100rem;
        width: 100%;
        height: 100vh;
        transition: .5s ease;
   }

   .header .header__nav ul{
        display: block;
        text-align: center;
   }
   .header .header__nav ul li{
        margin-left: 0;
        border-bottom: 1px solid #2b2b2b;
   }
   .header .header__nav ul li a{
        color: #2b2b2b;
        font-size: 3rem;
   }
   .header .header__nav ul li:hover{
    background: hsl(0, 0%, 50%);
   }
   .header__nav.open{
    right: 0;
   }
}

/*--------Banner--------*/

.banner{
  background: #ffffff;
  padding: 5rem 0;
  padding-top: 15rem;
}
  .banner .banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
  margin-left: 23rem;
  width: 55rem;
}

.banner .banner__text h1{
  color: #ffa700;
  font-size: 8rem;
  font-weight: 800;
  max-width: 40rem;
  line-height: 1;
}


.banner .banner__text p{
  max-width: 40rem;
  text-align: justify;
  margin: 3rem 0;
}
.banner a#banner__btn{
  text-transform: uppercase;
  border: 1px solid transparent !important;
}

.banner a{
  text-transform: uppercase;
}


@media screen and (max-width:500px) {
  .banner__wrapper{
    flex-direction: column-reverse;
  }

  .banner .banner__text{
    text-align: center;
    margin: 0 auto;
  }
  .banner .banner__text h1{
    max-width: fit-content;
    font-size: 3rem;
    margin: 0 auto;
  }
  .banner img{
    margin-left: 0;
    width: 20rem;
    margin-bottom: 3rem;
  }
}

/*-----Banner-about------*/

.banner1{
  background: #ffffff;
  padding: 5rem 0;
  padding-top: 15rem;
}
  .banner1 .banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner1 img{
  margin-left: 0;
  width: 55rem;
}


.banner1 .banner__text1 h2{
  color: #ffa700;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.banner1 .banner__text1 p{
  max-width: 60rem;
  text-align: justify;
  margin: 3rem 0;
}


.banner1 a{
  text-transform: uppercase;
}


.banner1 .banner__wrapper1 .banner__text h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 800;
  max-width: 30rem;
}

.banner1 .banner__wrapper1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner1 .banner__wrapper1 .Icons ul{
  display: flex;
}


.banner1 .banner__wrapper1 a{
  text-decoration: none;
  color: #ffa700;
  font-size: 2rem;
}

.banner1 .banner__wrapper1 ul li:hover a{
  color: #2b2b2b;
}

.banner1 .banner__wrapper1 ul li{
  margin-right: 2rem;
}

@media screen and (max-width:500px) {
  .banner__wrapper1{
    flex-direction: column-reverse;
  }
  .bannerr .banner__wrapper1 img{
    align-items: center;
    margin-left: 0;
  }
  .banner1 .banner__wrapper1 h2{
    text-align: justify;
    margin: 2rem;
  }
  .banner1 .banner__wrapper1 p{
    text-align: justify;
    justify-content: space-evenly;
    margin: 2rem ;
  }
    .banner1 .banner__wrapper1 .Icons{
      margin: 2rem;
    }
}


/*-----home-services---*/
.home-services{
  background: #2b2b2b;
  padding: 8rem 0;
}

.home-services .home-services__item i{
  font-size: 6rem;
  color: #ffa700;
  margin-bottom: 6rem;
}
.home-services .home-services__item{
  text-align: center;
  margin: 0 5rem;
}


.home-services .home-services__item h4{
  font-size: 2.5rem;
  color: #ffa700;
  font-weight: 600;
}

.home-services .home-services__item p{
  color: #ffffff;
  margin: 2rem 0;
  text-align: justify;
  line-height: 1.8;
}
.home-services .home-services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10rem;
    
}

@media screen and (max-width:500px) {
.home-services .home-services__wrapper{
    grid-template-columns: 3fr;
    padding: 1rem; 
  }
}
/*---Banner About Me---*/

.bannerr {
  background: #ffffff;
  padding: 10rem 0;
  padding-top: 10;

}

.bannerr .bannerr__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bannerr .bannerr__wrapper .image-container{
  position: relative;
  margin-left: -5rem;
}

.bannerr .bannerr__wrapper .image-container .overflow {
  position: absolute;
  opacity: 50%;
}

.bannerr .bannerr__text{
  max-width: 80rem;
}

.bannerr .bannerr__text h3{
    color: #ffa700;
    font-size: 3rem;
}
.bannerr .bannerr__text p{
  max-width: -10rem;
  text-align: justify;
  margin: 5rem 0;
}

.banner1 .Iconss {
  align-items: center;
  color: #ffa700;
  text-align: center;
  font-size: 8rem;
}



@media screen and (max-width:500px) {
  .bannerr__wrapper{
    flex-direction: column;
    text-align: center;
  }

  .bannerr .bannerr__text{
    text-align: center;
  }

  .bannerr .bannerr__text h3{
    max-width: fit-content;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
  }


  .bannerr .image-container{
    width: 30rem;
    margin-bottom: 2rem;
    margin-left: 100rem;
  }


  .bannerr .bannerr__text p{
    max-width: 0 2rem;
    text-align: justify;
    margin: 4rem;
  }
}
/*----Latest Trends-----*/

.latestTrend{
  background: #2b2b2b;
  padding: 3rem 0;
}

.latestTrend h2{
  color: #ffa700;
  font-size: 5rem;
  margin-top: 5rem;
  font-weight: 700;
}

.latestTrend p{
  color: #ffffff;
}

.latestTrend .latestTrend_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.latestTrend .latest_Title{
  margin-bottom: 8rem;
}
.latestTrend .latestTrend_wrapper p{
  color: #2b2b2b;
}

.latestTrend .latestTrend_wrapper a{
  color: #ffa700;
}

.latestTrend .latest_card img{
  width: 100%;
}

.latestTrend .latest_card{
  background: #ffffff;
  border-radius: 3rem;
}

.latestTrend .latest_card .latestCardText{
  padding: 2rem;
}

.latestTrend .latest_card .latestCardText h4{
  color: #ffa700;
  font-weight: 600  ;
  font-size: 2rem;
}

.latestTrend .latest_card .latestCardText p{
  margin:  3rem 0;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: justify;
}

.latestTrend .latest_card .latestCardText a{
  color: #ffa700;
}

@media screen and (max-width:500px) {
  .latestTrend .latestTrend_wrapper{
      grid-template-columns: 1fr; 
    }

    .latestTrend .latest_Title {
      text-align: center;
    }
    .latestTrend_wrapper .latest_card{
      margin: 3rem 4rem;
    }
  }

/*----Contact----*/

.contact{
  background: #ffa700;
  padding: 1rem 0;
}

.contact .contactText{
  text-align: center;
}

.contact .contactText h4{
  font-size: 2rem;
  color: #2b2b2b;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.contact a#banner__btnn{
  margin: 1rem;
  border: 1px solid transparent !important;
  border-radius: 10rem;
  text-transform: uppercase;
}

@media screen and (max-width:500px) {
  .contact .contact__wrapper{
      grid-template-columns: 3fr;
      padding: 1rem; 
    }
  }

/*------Footer------*/

.footer{
  background-color: #2b2b2b;
}


.footer .footer_wrapper .Icons{
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer .footer_wrapper .Icons p{
  padding-left: 2rem;
}
.footer .footer_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer_wrapper ul{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer .footer_wrapper p{
  color: #ffffff;
  display: flex; 

}

.footer p{
  color: #ffffff;
  display: flex;  
}

.footer .footer_wrapper ul li{
  margin-left: 2rem;
  padding: 2rem 0;
}

.footer .footer_wrapper a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}

.footer .footer_wrapper ul li:hover a{
  color: #ffa700;
}
/* .toggle__menu{
  display: none;
} */
@media screen and (max-width:500px) {

  .footer .footer_wrapper{
      display: block;
      justify-content: center;
      align-items: center;
    }
.footer .footer_wrapper .Icons{
  display: block;
}
    .footer .footer_wrapper  p{
      align-items: center;
    }

    .footer .footer_wrapper .Icons ul{
      justify-content: center;
    }
    .footer .footer_wrapper  p{
      align-items: center;
      justify-content: center;
    }

  }


/*----Repeatable patterns-----*/
.btn{
  padding: 1.2rem 1.5rem;
  border-radius: 5rem;
  display: inline-block;
  border: 1px solid transparent;
}

.bg--yellow{
  background: #ffa700;
  color: #ffffff;
}

.bg--yellow:hover{
  background: #2b2b2b;
  border: 1px solid #ffa700;
}

.bg--dark{
  background: #ffa700;
  color: #ffffff ;
  border: 1px solid #ffa700;
}

/*-------*/

.btnn{
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  display: inline-block;
  border: 1px solid transparent;
}

.bg--darkk{
  background: #2b2b2b;
  color: #ffffff;
}

.bg--darkk:hover{
  background: #ffffff;
  border: 1px solid #ffa700;
  color: #2b2b2b;
  
}

.bg--darkk{
  color: #ffffff ;  
  border: 1px solid #ffa700;
}
